{% extends "base.html" %}
{% block content %}
    <div class="jumbotron text-center">
        <h1>VOD SYSTEMS</h1>
        <p>This is the main page for <b>VOD System</b>. From here you can jump off to any of the projects we have developed</p>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <h3>Who are we?</h3>
          <p>{Add some text about who we are ...}</p>
        </div>
        <div class="col-sm-4">
          <h3>What we do?</h3>
          <p>Develop solutions that make use of current web technologies to help answer important questions. {Add better text...}</p>
          <p>Current projects: add link to VOD home</p>
        </div>
        <div class="col-sm-4">
          <h3>Contact us</h3>
          <p>Contact us as: info@vod.systems </p>
        </div>
      </div>
    </div>
{% endblock %}

